.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: linear-gradient(to bottom, var(--dark-color-900), #94b40200, var(--dark-color-900)), url(../assets/banner_bg.svg);
    background-size: cover;
    background-position: center;
}

.container {
    width: min(90%, 1000px);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type {
    padding: 5rem 0 1rem 0;
    font-weight: 900;
    text-align: center;
    font-size: var(--text-6);
    line-height: 1.5;
}

.typewrite {
    padding-right: 0.2rem;
    border-right: 0.1em solid var(--secondary-color);
    animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--secondary-color);
    }
}

.banner_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-1);
    font-weight: 700;
    font-weight: 500;
    gap: 5px;
    padding: 10px 20px !important;
    margin-bottom: 3rem;
}

.video {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

@media (max-width: 480px) {

    .type {
        padding: 3rem 0 1rem 0;
        font-size: var(--text-5);
    }

    .video {
        width: 95%;
    }

    .video video {
        border: 1.5px solid var(--primary-color);
        border-radius: 10px;
    }
}