.primary_btn {
    color: var(--primary-text);
    background-color: var(--primary-color);
    border-radius: 100px;
}

.secondary_otline_btn{
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 100px;
}