header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.navbar {
    width: 90%;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 50px;
}

.logo {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.menu_items {
    font-size: 1rem;
    font-weight: 600;
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text);
    gap: 2px;
}

.nav_link:hover>.drop_icon {
    transition: 0.2s ease-in-out;
    rotate: 180deg;
}

.nav_link:nth-child(1){
    position: relative;
}

.primary_btn {
    padding: 10px 20px;
}

.menu_icon {
    display: none;
    margin-right: 20px;
}

/* Mobile devices */
@media (max-width: 1000px) {

    /* CSS rules for small screens (portrait orientation) */

    .navbar {
        width: 100%;
        height: 50px;
    }

    .menu_icon {
        display: block;
    }

    .logo {
        padding-left: 20px;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: left;
        gap: 40px;
    }

    .menu_items {
        width: max-content;
        position: absolute;
        top: 80px;
        right: -20%;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        background-color: rgb(21, 34, 58);
        padding: 10px 20px 20px 20px;
        border-radius: 10px;
        gap: 20px;
    }

    .login_signup {
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }

    .menu_items {
        transition: transform 0.3s ease;
        transform: translateX(100%);
    }

    .menu_items.open {
        transform: translateX(-100px);
    }

    .menu_icon {
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    /* CSS rules for small screens (landscape orientation) */
}

/* Tablets and smaller desktops */
@media (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for medium screens */
}

/* Desktops and larger screens */
@media (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for large screens */
}

@media (min-width: 1200px) {
    /* CSS rules for extra-large screens */
}