@import url(./styles/Common.css);

:root {

  --primary-color: #1e91ff;
  --secondary-color: #b673f8;

  --dark-color: #0d1017;
  --grey-color: #1b1b1b;

  --primary-text: #ffffff;
  --secondary-text: #a3afba;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #ffffffde;
  background-color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-0: clamp(0.78rem, calc(0.72rem + 0.31vw), 0.96rem);
  --text-1: clamp(0.94rem, calc(0.85rem + 0.46vw), 1.20rem);
  --text-2: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.50rem);
  --text-3: clamp(1.35rem, calc(1.17rem + 0.91vw), 1.88rem);
  --text-4: clamp(1.62rem, calc(1.37rem + 1.26vw), 2.34rem);
  --text-5: clamp(1.94rem, calc(1.60rem + 1.72vw), 2.93rem);
  --text-6: clamp(2.33rem, calc(1.87rem + 2.31vw), 3.66rem);
  --text-7: clamp(2.80rem, calc(2.18rem + 3.09vw), 4.58rem);
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #ffffff46;
  border-radius: 100px;
}

.orange-gradient {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #ff7170 2.34%, #ffe57f 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
}

.violet-gradient {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}